@import "~antd/dist/antd.less";

@primary-color: #702bd4;
@body-background: #fff;
@layout-body-background: rgb(249, 249, 249, 0.5);
@layout-header-background: #fff;
@layout-footer-background: #f1f1f1;
@page-header-ghost-bg: #f1f1f1;
@form-vertical-label-padding: 0 0 4px;

@media (max-width: 575.98px) {
    .ant-layout-header{ padding: 0 24px;}
    .ant-layout-footer, .ant-layout-content{padding:  10px 20px;}
    .logo{height: 30px;}
    h1.ant-typography, .ant-typography h1 {font-size: 24px;}    
    h2.ant-typography, .ant-typography h2 {font-size: 20px;}
}
@media (min-width: 576px) {
    .ant-layout-content{padding:  25px 50px;}
    .logo{height: 40px;max-width: 100%;}
    h1.ant-typography, .ant-typography h1 {font-size: 28px;}
    h2.ant-typography, .ant-typography h2 {font-size: 24px;}
}
h1.ant-typography, .ant-typography h1 {color: @primary-color; font-family: poppins;}    
html{max-width: 1920px;margin: auto;}
.ant-menu-item{font-weight: bold;}
.ant-card-meta-title{margin: 0 !important;}
.ant-form-item-label > label{font-weight: 500;}
.m0{margin: 0 !important;}
.p0{padding: 0 !important;}
.float-right {float: right;}
.text-center{text-align: center;}
.d-none {display: none;}
.fw-100{font-weight: 100 !important;}
.min-vh-100 {min-height: 100vh;}
.mw-100 {max-width: 100% ;}
.copyright{border-top: 1px solid #dedede;}

.vocabulary-section{background-color: #e9daff;}

.vocabulary-card{height: 70px; width: auto; margin: 20px auto -10px}
.book-card{max-height: 200px; padding: 10px; margin: auto; display: block; width: auto}
.auth-card{max-width: 500px; margin: 0 auto; border-radius: 5px; box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px 0px;}
.auth-card-row{min-height: calc(100vh - 64px);}    
