$primary: #335eea;
$danger: red;
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
@import '~bootstrap/scss/bootstrap';